body{
 background-color: 	#a5cfce;
}

a{
  color: ivory;
}

h1{
  padding-top: 0px;
  margin-top: 0px;
}

.jumbotron{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #76b3b1;
  color: ivory;
  height: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.well{
  height: 50vh auto;
  overflow: auto;
}

.image{
  float: right;
  text-align: center;
  height: 300px;
  width: 300px;
  margin: 0px
}

.img-cropper{
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.biosection{
  width: 100%;
  text-align: justify;
  max-height: 320px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.col-md-4{
  width: 33%;
  float:left;
}

.panel{
  margin-top: 10px;
  margin-bottom: 0px;
}

.panel-heading{
  background-color: #a5cfce;
  color: ivory;
}

.panel-default > .panel-heading{
  margin-left: 11px;
  margin-right: 11px;
  margin-top: 11px;
  background-color: #76b3b1;
  color: ivory;
}

.workdescription{
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 300;
  text-align: justify;
}

.language{
  text-align: right;
  color: black;
}

.foursquare{
  width:98%;
  margin-left: 11px;
  padding-bottom: 11px;
}

.gutter-10.row {
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;
}
.gutter-10 > [class^="col-"], .gutter-10 > [class^=" col-"] {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;
}
